
/*fullpage 导航属性更改*/
#fp-nav ul li{
	font-size: 18px;
}
#fp-nav ul li a span{
    background: none;
}
#fp-nav ul li a{
    background: url(../images/jishu/nav.png) no-repeat;
    background-size: 100% 100%;
}
#fp-nav ul li a.active{
	background: url(../images/jishu/nav_active.png) no-repeat;
    background-size: 100% 100%;
}
.cover{
	width:100%;
	height: 100%;
	background-color:rgba(0,0,0,0.3);
	position:absolute;
	top: 0;
	left:0;
	z-index: 900;
	display: none;
}
.forms{
	position: absolute;
	left: 50%;
	margin-left: -185px;
	top:5px;
	z-index: 999;
	width: 370px;
	background: url(../images/jishu/bg1.png) no-repeat;
	background-size: 100% 100%;
	display: none;
}
.close{
	position: absolute;
	top:10px;
	right: 10px;

}
.close:hover{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* Internet Explorer */
	-moz-transform:rotate(180deg); /* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); /* Opera */
	transition:transform 0.5s;
	-moz-transition:transform 0.5s; /* Firefox 4 */
	-webkit-transition:transform 0.5s; /* Safari and Chrome */
	-o-transition:transform 0.5s; /* Opera */
}
.forms form{
	width: 290px;
	height:100%;
	overflow: auto;
	margin:0 auto;
}
input::input-placeholder{
	color:red;
	font-size: 12px;
}
input::-webkit-input-placeholder{
	color:red;
	font-size: 12px;
}
input:-moz-input-placeholder{
	color:red;
	font-size: 12px;
}
input::-moz-input-placeholder{
	color:red;
	font-size: 12px;
}
input::-ms-input-placeholder{
	color:red;
	font-size: 12px;
}
#female{
	display: inline-block;
	width: 93px;
}
#female input{
	margin-top: 15px;
	position: relative;
	left: 50%;
	margin-left: -6.5px;
}
#male{
	display: inline-block;
	width: 66px;
	float: right;
}
#male input{
	margin-top: 15px;
	position: relative;
	left: 50%;
	margin-left: -6.5px;
}
.text_input span{
	font-size: 18px;
	display: inline-block;
	width: 80px;
	text-align: center;
	height:22px;
}
.text_input input{
	outline:none;
	font-size: 18px;
	width:200px;
	border: none;
	border-bottom: rgb(217,217,217) solid 2px;
}
.text_input select{
	outline:none;
	font-size: 18px;
	width:200px;
	border: none;
	border-bottom: rgb(217,217,217) solid 2px;
}
.forms p{
	margin-top: 15px;
	width: 100%;
}
.forms h2{
	text-align: center;
	font-size: 23px;
	font-weight: 600;
	height: 40px;
	line-height: 40px;
}
.tips{
	color:red;
	font-weight: 600;
	text-align: center;
	margin-top: 5px !important;
}
.buttons{
	/*font: normal 16px/28px Microsoft Yahei, Arial, sans-serif;*/
    background-color: rgb(255,255,255);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding:5px 15px;
    font-size: 15px;
    position: relative;
    left: 50%;
    margin-left: -35px;
}
.programmer{
   cursor:pointer;
}
/*进入*/
#ori_tip {
   position: absolute;
   width: 200px;
   height: 100px;
   left: 50%;
   margin-left: -100px;
   top: 15%;
/*   background-color: #fff;*/
   border-radius: 5px;
}
#ori_tip h2{
	width: 100%;
	height: 100%;
	line-height: 100px;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}
#page1{
	/*background: url(../images/进入/bg.png) no-repeat;
	background-size: 100% 100%;*/
	position: relative;
}
#bg_1{
	position:absolute;
	left:50%;
	top:35%;
	margin-left:-253px;
	width:506px;
	height:126px;
} 
#page1 .cover{
	background-color:rgba(0,0,0,0);
}
#flower{
	width: 249px;
	height:27px;
	position: relative;
	top:-52px;
	left:-4px;
}
#flower-1{
	margin-left: 7px;
}
#flower-2{
	position: absolute;
	top:2px;
	left:0;
}
#train{
	width: 177px;
	height: 129px;
	position:absolute;
	top:-20px;
	left:450px;
}
#smoke_1{
	margin-left: 41px;
}
#smoke_2{
	position: absolute;
	left: 41px;
	top:4px;
}
#girl_1{
	position: absolute;
	bottom:18%;
	left:18%;
}
#Loading{
	width: 20%;
	position: absolute;
	left:50%;
	margin-left:-10%;
	bottom: 20%;

}
/*技术研发*/
#page2{
	background: url(../images/jishu/bg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
#more_tip{
	position: absolute;
	width: 300px;
	height: 50px;
	background-color: #fff;
	border: black solid 1px;
	border-radius: 3px;
	font-size: 20px;
	font-weight: 600;
	line-height: 50px;
	text-align: center;
	left: 50%;
	margin-left: -150px;
	top:-60px;
	opacity: 0;
	filter:alpha(opacity=0);
}
.more_tip{
	transform: scale(2,4);
    -ms-transform: scale(2,4);	/* IE 9 */
    -webkit-transform: scale(2,4);	/* Safari 和 Chrome */
    -o-transform: scale(2,4);	/* Opera */
    -moz-transform: scale(2,4);	/* Firefox */
    transition:transform 0.5s;
	-moz-transition:transform 0.5s; /* Firefox 4 */
	-webkit-transition:transform 0.5s; /* Safari and Chrome */
	-o-transition:transform 0.5s; /* Opera */
}
.dialog_box{
	background: url(../images/jishu/dialog-box.png) no-repeat;
	background-size: 100% 100%;
	width: 70%;
	position: absolute;
	top:3%;
    left: 50%;
    margin-left:-35%;
	z-index: 999;
	display: none;
	padding: 15px;
	font-size: 18px;
	line-height: 25px;
}
.pic{
	margin-right: 10px;
	float:left;
}
.pic p{
	text-align: center;
}
#img1{width:84px;height:91px;background-image:url(../images/stye.png);background-position:-538px 0}
#img2{width:82px;height:91px;background-image:url(../images/stye.png);background-position:-454px 0}
#img3{width:81px;height:91px;background-image:url(../images/stye.png);background-position:-278px 0}
#img4{width:58px;height:70px;background-image:url(../images/stye.png);background-position:-355px -93px}
#img5{width:113px;height:91px;background-image:url(../images/stye.png);background-position:-163px 0}
#img6{width:83px;height:77px;background-image:url(../images/stye.png);background-position:-454px -91px}
#img7{width:89px;height:77px;background-image:url(../images/stye.png);background-position:-624px -90px}
#img8{width:86px;height:74px;background-image:url(../images/stye.png);background-position:-93px -95px}
#img9{width:91px;height:91px;background-image:url(../images/stye.png);background-position:-361px 0}
#img10{width:70px;height:70px;background-image:url(../images/stye.png);background-position:0 -95px}
#img11{width:105px;height:70px;background-image:url(../images/stye.png);background-position:-180px -94px}
#img12{width:66px;height:60px;background-image:url(../images/stye.png);background-position:-287px -93px}
#img13{width:66px;height:70px;background-image:url(../images/stye.png);background-position:-539px -91px}
#img14{width:89px;height:90px;background-image:url(../images/stye.png);background-position:-624px 0}
/*.talks{
	width: 75%;
	height:80%;
	position: absolute;
	top:10%;
	left: 20%;
}*/
.menu{
	position: absolute;
	top:3%;
	right:3%;
}
#mobiler{
	position: absolute;
	top:25%;
	left:19%;
}
#programmers{
	width: 225px;
	height:180px;
	position: absolute;
	bottom:18%;
	left: 50%;
	margin-left: -80px;
}
#qian{
	position: relative;
	left: 30px;
	top:10px;
}
#cat{
	position: relative;
	top:-60px;
	left: 105px;
}
#more{
	position: relative;
	left:-15px;
	top:-280px;
}
/*产品*/
#page3{
	background: url(../images/chanpin/bg.png) no-repeat;
	background-size: 100% 100%;
}
#greener{
	position: absolute;
	top:24%;
	left:21%;
}
#tunnel{
	width: 206px;
	height: 100px;
	position: absolute;
	top: 37%;
	right:34%;
}
.gai{
	position: relative;
	top:-3px;
	left: 12px;
	transform: rotateY(180deg);
	transform-origin:100% 100% 0px;
	-ms-transform: rotateY(180deg);/* IE 9 */
	-ms-transform-origin:100% 100% 0px; /* IE 9 */
	-webkit-transform: rotateY(180deg); /* Safari and Chrome */
	-webkit-transform-origin:100% 100% 0px; /* Safari and Chrome */
	-o-transform: rotateY(180deg); 
	-o-transform-origin:100% 100% 0px;
	transition:transform 0.5s;
	-moz-transition:transform 0.5s; /* Firefox 4 */
	-webkit-transition:transform 0.5s; /* Safari and Chrome */
	-o-transition:transform 0.5s; /* Opera */
	z-index: 800;
}
.gais{
	transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);/* IE 9 */
	-webkit-transform: rotateY(0deg); /* Safari and Chrome */
}
#sheji{
	position:relative;
	left: 15px;
}
#persons{
    display: inline-block;
    position:absolute;
    top:55%;
    left:50%;
    margin-left: -268px;
}
#cameras{display: inline-block;margin-right: 57px;}
#camera{margin-left: 30px;}
#hd{
	display:inline-block;
	width: 108px;
	height: 137px;
	position: relative;
}
#hd p{
	width: 150px;
	height: 50px;
	background-color: #fff;
	border: black solid 2px;
	border-radius:5px;
	position:absolute;
	top:-30px;
	left:-20px;
	font-size:18px;
	line-height: 25px;
	opacity: 0;
}
#hair{
	position: absolute;
	top:0;
	left: 5px;

}
#hj{
	display:inline-block;
	width: 68px;
	height: 129px;
	margin-left: 47px;
	position: relative;
}
#hj p{
	padding: 8px;
	background-color: #fff;
	border: black solid 2px;
	border-radius:5px;
	position:absolute;
	top:-15px;
	left:8px;
	font-size:18px;
	opacity: 0;
	
}
/*记者团*/
#page4{
	background: url(../images/jizhetuan/bg.png) no-repeat;
	background-size: 100% 100%;
}
#xingzheng{
	position: absolute;
	top:28%;
	left: 10%;
}
#lady{
	width:105px;
	position: absolute;
	top:20%;
	left:42%;
}
#s_dialog_box{
	width: 110px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color:#fff;
	border-radius: 10px;
	border: black solid 1px;
	position: relative;
	left: -18px;
	top:5px;
	opacity: 0;
}
#boy_4{
	position: relative;
	top:-160px;
	left:130px;
}
#qq{
	position: absolute;
	bottom: 16%;
	right: 32%;
}
.mCSB_scrollTools{
	right:10px;
}